* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}
html {
  min-height: 100%;
}

body {
  background-color: #1e2022;
}
hr {
  color: #f63854;
  width: 25%;
  margin: 1% auto;
  border: 1.5px solid #f63854;
  background-color: #f63854;
}
p {
  padding: 3% 0;
}
a {
  text-decoration: none;
  color: inherit;
  /* transition: ease-in; */
}


/* NAVBAR */
.navbar {
}
.navlinks {
  display: flex;
  justify-content: flex-end;
}
.link {
  margin-right: 3%;
  padding: 1%;
  color: rgb(244, 244, 244);
  text-transform: uppercase;
}
.link:hover {
  border-bottom: 2px solid #f63854;
  /* outline: none; */
  /* margin-top: -1px; */
  margin-bottom: -1px;
  padding-top: -1px;
  padding-bottom: -1px;
}
.fixed {
  background: #1e2022;
  position: fixed;
  width: 100%;
  z-index: 2;
}
.fixed1 {
  background: #1e2022;
  /* position: fixed; */
  width: 100%;
}

.fixed1 a {
  color: #f63854;
}
.fixed a {
  color: #f63854;
}
/* SHOWCASE */
#changing-text {
  color: #f63854;
}

.showcase {
  background-image: linear-gradient(rgba(41, 41, 41, 0.596), rgb(0, 0, 0)),
    url("../images/pexels-trang-doan-1092730.jpg");
  height: 100vh;
  background-size: 100vw;
  background-attachment: fixed;
}

.showcase-content {
  position: absolute;
  top: 30%;
  left: 15%;
}

.showcase-content h1 {
  color: white;
  font-size: 400%;
}

.showcase-buttons {
  margin-top: 20px;
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: space-between;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f63854;
  color: white;
  height: 50px;
  border-radius: 30px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 40%;
  border: none;
}

.btn-fade {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f63854;
  color: #f63854;
  height: 50px;
  border-radius: 30px;
  padding: 8px;
  cursor: pointer;
  transition: transform 0.3s;
  width: 50%;
}

.btn-fade:hover {
  transform: scale(1.2);
  background: #f63854;
  color: white;
}

.btn:hover {
  transform: scale(1.2);
}
.section {
  text-align: center;
  padding: 3% 3%;
  /* border-bottom: 2px dashed #ff0844; */
  /* height: 80vh; */
}
.section-body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 3%;
  flex-wrap: wrap;
}
.section-heading {
  color: #808080;
}

/* FEATURES */
.card {
  text-align: center;
  padding: 2%;
  width: 30%;
  /* box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1); */
  margin: 4% 0;
  color: #f63854;
  line-height: 1.6rem;
  word-spacing: 0.2rem;
  border: 2px solid #f63854;
  background-color: transparent;
}
.card-heading {
  margin: 5% 0;
  color: #808080
}
.card-info {
  font-size: 18px;
}
.icon {
  color: #f63854;
  font-size: 3.8rem;
}

/* REVIEWS */
.review-card {
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  max-width: 30%;
  /* height: 350px; */
  /* box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1); */
  /* margin: auto 0; */
  /* padding: 0 3% 0 8%; */
  text-align: center;
  /* background-color: white; */
  color: #f63854;
}
.boxxed {
  border: 2px solid #f63854;
  background: transparent;
  padding: 8%;
  min-width: 100%;
}
.user-name {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 4%;
  font-size: 1.3rem;
  
}
.review-card i {
  font-size: 2rem;
  /* color: #f63854; */
  margin-bottom: 4%;
}
.review {
  font-size: 18px;
  /* color: #f63854; */
}


/* .star {
  color: yellow;
  font-size: 1.2rem;
  margin-right: 3%;
} */
/* .reviews {
  /* background-image: linear-gradient(rgba(41, 41, 41, 0.596), rgb(0, 0, 0)),
    url("../images/pexels-trang-doan-1092730.jpg");
  background-size: 100vw;
  background-attachment: fixed; */
}
/* .reviews .card {
  padding: 3%;
  background-color: transparent;
}
.reviews .card-info {
  margin: 5% 0px;
  font-size: 1.1rem;
}
.reviews .card-heading h2 {
  color: #000000;
  font-weight: 100;
  font-size: 1.7rem;
} */ */

/* PRICING */
.pricing {
  /* background-color: #f4f4f4; */
  padding-bottom: 4%;
}
.pricing hr {
  margin-bottom: 5%;
}
.pricing-card {
  border: 1px solid;
  text-align: left;
  padding: 2%;
  border-radius: 5%;
  width: 25%;
  padding-bottom: 0;
  /* transform: scale(0.7); */
  /* font-size: 1.1rem; */
  color: #808080;
}
.active-card {
  transform: scale(1.1);
  box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
}
.pricing-header {
  border-bottom: 1px solid rgb(134, 143, 161);
  /* padding-bottom: 5%; */
}
.price-details {
  padding: 8% 0;
}
.pricing-body {
  padding: 5% 0;
  font-size: 1.2rem;
  border-bottom: 1px solid rgb(134, 143, 161);
}
.price {
  font-size: 3rem;
  color: #f63854;
}
.pricing-header h3 {
  text-align: center;
  font-size: 1.5rem;
}
.pricing-card hr {
  border: 1px solid #808080;
  background-color: #808080;
  width: 95%;
}
.pricing-card ul {
  list-style: none;
}
.pricing-card li {
  margin: 4% 0;
}
.pricing-card li i {
  margin-right: 2%;
  color: #f63854;
}
.pricing-btn {
  width: 50%;
  margin: 0 auto;
}
.pricing-btn .btn {
  position: relative;
  top: 25px;
  width: 100%;
  border: none;
  font-size: 1.3rem;
}
.view-menu {
  margin: 8% auto;
  margin-bottom: 0;
  width: 20%;
  text-align: center;
  font-size: 2rem;
  color: #f63854;
  border: 2px solid #f63854;
  cursor: pointer;
}
.view-menu:hover {
  background-color: #f63854;
  color: #ffffff;
}

/* CONTACT US */
.contact {
  background-color: #1e2022;
  color: #808080;
}
.contact-img {
  width: 50%;
}
.contact-img video {
  width: 80%;
}
.contact-form {
  text-align: left;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.contact-form .form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3%;
}
.contact-form .form-input input {
  font-size: 1.2rem;
  padding: 1%;
  background-color: #f1eded;
  width: 100%;
}
.contact-form label {
  font-size: 1.4rem;
}
textarea {
  height: 7rem;
  background-color: #f1eded;
  border-radius: 6px;
}
.form-submit.btn {
  margin: 3% auto;
  width: 30%;
}
.contact-form .form-input select {
  background-color: #f1eded;
  font-size: 1.2rem;
  padding: 1%;
  border-radius: 6px;
}
.form-input .checkbox {
  margin-right: 1%;
}
.form-input.accept-terms {
  flex-direction: row;
}

/* FOOTER */
footer {
  position: absolute;
  background-color: #000000;
  /* height: 5%; */
  text-align: center;
  padding: 2%;
  width: 100%;
}
footer i {
  font-size: 2rem;
  color: #f63854;
  margin-right: 2%;
}
footer p {
  color: #808080;
  padding-top: 2%;
  padding-bottom: 0;
}

/* LOGIN PAGE CSS */
.heading {
  background-color: white;
  font-size: 225%;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #ff0844, #ffb199);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  line-height: 1.3;
  display: inline-block;
  margin-bottom: 5%;
}
.login {
  /* padding: 5%; */
  width: 60%;
  margin: 3.4% auto;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form .form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}
.login-form .form-input input {
  padding: 1%;
  border: none;
  background-color: cornsilk;
  width: 100%;
  border-radius: 6px;
  font-size: 1.4rem;
}
.login-form label {
  font-size: 1.5rem;
  margin: 2% 0;
}
.login-form .btn {
  margin: 2% auto;
  font-size: 1.5rem;
}
