@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.overall-container {
  font-family: "Montserrat", sans-serif;
  background: #1e2022;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 4%;
}

h1 {
  font-weight: bold;
  margin-bottom: 10%;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

.container {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgb(0 0 0 / 20%), 0 10px 10px rgb(0 0 0 / 20%);
  overflow: hidden;
  width: 40%;
  height: 55%;
}

.form-container form {
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-container input {
  background: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background: #ff445c;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin: 4%;
}

button:hover {
  /* transform: scale(1.1); */
  background-color: white;
  color:#ff4b2b
}

button:focus {
  outline: none;
}

button.ghost {
  background: transparent;
  border-color: #fff;
}
.form-container {
  /* position: absolute;
  top: 0;
  height: 100%; */
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  /* left: 0;
  width: 50%;
  z-index: 2; */
}
