.navlinks.fixed1
  .link
    a(href='/') HOME
  .link
    a(href='') FEATURES
  .link
    a(href='/plans') PLANS
  .link
    a(href='/') CONTACT US
  if name
    .link
      a(href="/profile") #{name}
    .link
      a(href='/logout') LOGOUT 
  else
    .link
      a(href='/login') LOGIN

                
