extends base.pug
block stylesheets
    link(rel="stylesheet" , href="./css/homepage.css")
block header
    .showcase
        include homepageHeader.pug
        .showcase-content
            h1 MEAL PLANS.
            h1
                | FOR 
                span#changing-text
            .showcase-buttons
                .btn Book Now
                .btn-fade Show Me More

block content
    #features.section.features
        .section-heading
            h1 AWESOME FEATURES
        hr
        .section-body
            .card
                i.far.fa-calendar-plus.icon
                .card-heading
                    h2 365 DAYS/YEAR
                .card-info
                    | Never cook again! We really mean that. Our subscription plans
                    | include up to 365 days/year coverage. You can also choose to order
                    | more flexibly if that's your style.
            .card
                i.fas.fa-shipping-fast.icon
                .card-heading
                    h2 30 MINUTES OR FREE
                .card-info
                    | You're only twenty minutes away from your delicious and super
                    | healthy meals delivered right to your home. We work with the best
                    | chefs in each town to ensure that you're 100% happy.
            .card
                i.fas.fa-carrot.icon
                .card-heading
                    h2 100% ORGANIC
                .card-info
                    | All our vegetables are fresh, organic and local. Animals are raised
                    | without added hormones or antibiotics. Good for your health, the
                    | environment, and it also tastes better!
    
    #pricing.section.pricing
        .section-heading
            h1 START EATING HEALTHY TODAY
        hr
        .section-body
            each plan in plans
                include planCard.pug
        .view-menu
            p View Full Menu

    
    #reviews.section.reviews
        .section-heading
            h1 REVIEWS
        hr
        .section-body
            each review in reviews
                include reviewCard.pug
            //- .review-card
            //-     .boxxed
            //-         i.fas.fa-quote-left
            //-         .review
            //-         | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe
            //-         | possimus veritatis tenetur nulla ipsum odio accusamus officia
            //-         | suscipit corporis consequuntur
            //-         .user-name
            //-         em  - John Doe 
            //- .review-card.right-card
            //-     .boxxed
            //-         i.fas.fa-quote-left
            //-         .review
            //-         | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe
            //-         | possimus veritatis tenetur nulla ipsum odio accusamus officia
            //-         | suscipit corporis consequuntur
            //-         .user-name
            //-         em  - John Doe 
            //- .review-card.right-card
            //-     .boxxed
            //-         i.fas.fa-quote-left
            //-         .review
            //-         | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Saepe
            //-         | possimus veritatis tenetur nulla ipsum odio accusamus officia
            //-         | suscipit corporis consequuntur
            //-         .user-name
            //-         em  - John Doe 

    
    #contact.section.contact
        .section-heading
            h1 CONTACT US
        hr
        .section-body
            .contact-img
                video.bg-video__content(autoplay='' muted='' loop='')
                    source(src='./images/Avocado.mp4' type='video/mp4')
                    |             Your browser is not supported
            .contact-form
                .form-input
                    label(for='') Name
                    input(type='text')
                .form-input
                    label(for='') Email
                    input(type='text')
                .form-input
                    label(for='') How did you find us?
                    select(name='' id='')
                        option(value='Friends') Friends
                        option(value='Advertisement') Advertisement
                        option(value='Other') Other
                .form-input
                    label(for='') Drop an equiry/feedback
                    textarea(name='')
                .form-input.accept-terms
                    .checkbox
                        input(type='checkbox')
                    .conditions
                        | I have read and agree with all the Privacy Policy and Terms &
                        | Conditions.
                .form-submit.btn SEND MESSAGE

append scripts
    script(src="https://js.stripe.com/v3/")
    script(src="./js/buyPlan.js") 