.navlinks
  .link
    a(href='/') HOME
  .link
    a(href='#features') FEATURES
  .link
    a(href='/plans') PLANS
  .link
    a(href='#contact') CONTACT US
  if name
    .link
      a(href="/profile") #{name}
    .link
      a(href='/logout') LOGOUT 
  else
    .link
      a(href='/login') LOGIN

                
