extends base.pug
append stylesheets
    link(rel='stylesheet' href='../css/signin.css')
block content
  .overall-container
    .parent-container
      .greetings-div
        h1 Welcome Back!
        button.btn-fade
          a(href='/signup') Sign Up
      .form-div
        .signin-form
          .form-header
            .form-heading Sign In
          .form-body
            form
              .form-input
                .icon
                  i.far.fa-envelope
                input#email(type='email' placeholder='Email')
              .form-input
                .icon
                  i.fas.fa-lock
                input#pw(type='password' placeholder='Password')
              span#message
              .form-btn
                button.btn.loginBtn Sign In
            .forget-pw
              button.btn.forgetPassword Forget Password  
            .strike
              span Or Sign In with
            .signin-socials
              .social
                i.fab.fa-facebook
              .social
                i.fab.fa-google-plus-g
              .social
                i.fab.fa-linkedin

block scripts
    script(src="./js/login.js") 