extends base.pug

append stylesheets
    link(rel='stylesheet' href='./css/planDetails.css')
    link(rel='stylesheet' href='./css/plans.css')
block content
    include planDetails.pug
    #pricing.section.pricing
        .section-heading
            h1 START EATING HEALTHY TODAY
        hr
        .section-body
            each plan in plans
                include planCard.pug
                //- include planDetails.pug
append scripts
    script(src="https://js.stripe.com/v3/")
    script(src="./js/buyPlan.js")



