.modal
  .overlay-container
    .close
      i.fas.fa-times
    .plan
      .left-container
        .img-preview
          .left-arrow
            i.fas.fa-chevron-left
          .display-img
            img(src='./images/pexels-trang-doan-1092730.jpg' alt='')
          .right-arrow
            i.fas.fa-chevron-right
        .img-scroll
          .preview-img.active-img
            img(src='./images/pexels-trang-doan-1092730.jpg' alt='')
          .preview-img
            img(src='./images/foodApp.png' alt='')
          .preview-img
            img(src='./images/pexels-trang-doan-1092730.jpg' alt='')
          .preview-img
            img(src='./images/foodApp.png' alt='')
          .preview-img
            img(src='./images/pexels-trang-doan-1092730.jpg' alt='')
      .right-container
        .plan-details
          .name Continental Delight
          .rating
            .stars
              i.fas.fa-star.star
              i.fas.fa-star.star
              i.fas.fa-star.star
              i.fas.fa-star.star
              i.fas.fa-star.star
            .review-count
              span.count 3233
              |                   Reviews
          .tagline
            | Lorem ipsum dolor sit amet consectetur adipisicing elit
          .price
            | Price: 
            span.price-amount $200.99
            | /month
          hr
          .description
            ul
              li
                i.fas.fa-check
                |                     1 meal every day
              li
                i.fas.fa-check
                |                     Order 24/7
              li
                i.fas.fa-check
                |                     Access to newest creations
              li
                i.fas.fa-check
                |                     Free delivery
        button.buy-btn Buy Now!
    h1 Reviews
    .reviews
      | No Reviews 