extends base
block stylesheets
 link(rel="stylesheet" , href="../css/style.css")
 link(rel="stylesheet" , href="../css/resetPassword.css")
block content
 h1 Reset Password 
 .reset-pw-form
   form
    label(for="") New Password
    input(type="text" class="new-pw")
    label(for="") Confirm Password
    input(type="text" class="confirm-pw")
    button.btn.reset-pw Reset Password
 .message 
block scripts
 script(src="../js/resetPassword.js")