extends base
block stylesheets
  link(rel="stylesheet" , href="../css/style.css")
  link(rel="stylesheet" , href="../css/resetPassword.css")
block content
  .overall-container
    #container.container
      .form-container.sign-in-container
        form
          h1 Reset Password
          input#email(type='password' placeholder='Password' class="new-pw")
          input#pw(type='password' placeholder='Confirm Password' class="confirm-pw")
          button.reset-pw Change Password
          .message 
block scripts
  script(src="../js/resetPassword.js")